.gameboard{
  height: auto;
  width: 100%;
  background-color: #e53935;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/*Conveyor Belt*/
.plateContainer{
  height: 230px;
  width: auto;
  background-image: url('../images/belt.jpg');
}

.sushiPlate{
  height: 220px;
  width: 220px;
  position: absolute;
  margin: 0, 5px;
  padding: 5px;
  background-image: url('../images/plate.png');
  background-size: cover;
}

.goodSushi{
  height: 140px;
  width: 140px;
  display: block;
  margin: auto;
}

.amazingSushi{
  height: 140px;
  width: 140px;
  display: block;
  margin: auto;
}

/*Top Belt*/
#plateTop1{
  left: 0px;
}
#plateTop2{
  left: 250px;
}
#plateTop3{
  left: 500px;
}
#plateTop4{
  left: 750px;
}
#plateTop5{
  left: 1000px;
}


/*Bottom Belt*/
#plateBottom1{
  right: 0px;
}
#plateBottom2{
  right: 250px;
}
#plateBottom3{
  right: 500px;
}
#plateBottom4{
  right: 750px;
}
#plateBottom5{
  right: 1000px;
}

/*footer elements*/
.board{
  width:30%;
  height:120px;
  background-color: #000000;
  color: #ffffff;
  display:inline-block;
  float:left;
}
.form{
  width:30%;
  height:120px;
  background-color: #000000;
  color: #ffffff;
  display:inline-block;
  float:left;
}
.logo{
  width:40%;
  height:20%;
  background-color: #ffffff;
  display:inline-block;
  float:left;
  font-family: 'Rock Salt', cursive;
}
