.gameboard{
  height: auto;
  width: 100%;
  background-color: #e53935;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}
/*Conveyor Belt*/
.plateContainer{
  height: 230px;
  width: 100%;
  background-image: url("../images/belt.jpg");
}

/*Top Belt*/
.plateTop1{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 256px;
}
.plateTop2{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 512px;
}
.plateTop3{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 768px;
}
.plateTop4{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 1024px;
}
.plateTop5{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 1280px;
}


/*Bottom Belt*/
.plateBottom1{
  height: 220px;
  width: 23%;
  position: absolute;
  right: 256px;
}
.plateBottom2{
  height: 220px;
  width: 23%;
  position: absolute;
  right: 512px;
}
.plateBottom3{
  height: 220px;
  width: 23%;
  position: absolute;
  right: 768px;
}
.plateBottom4{
  height: 220px;
  width: 23%;
  position: absolute;
  right: 1024px;
}
.plateBottom5{
  height: 220px;
  width: 23%;
  position: absolute;
  right: 1280px;
}

/*image size*/
.plate{
  height:220px;
  width:220px;
  margin: 0px 5px;
}

/*footer elements*/
.scoreboard{
  width:20%;
  height:120px;
  background-color: #000000;
  display:inline-block;
  float:left;
}
.timer{
  width:20%;
  height:120px;
  background-color: #000000;
  display:inline-block;
  float:left;
}
.logo{
  width:60%;
  height:20%;
  background-color: #ffffff;
  display:inline-block;
  float:left;
}
