.gameboard{
  height: auto;
  width: 100%;
  background-color: #e53935;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}
/*Conveyor Belt*/
.plateContainer{
  height: 230px;
  width: 100%;
  background-image: url("../images/belt.jpg");
}
.plateTop1{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 300;
}
.plateTop2{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 600px;
}
.plateTop3{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 900px;
}
.plateTop4{
  height: 220px;
  width: 23%;
  position: absolute;
  left: 1200px;
}
.plateBottom1{
  height: 220px;
  width: 15%;
  position: absolute;
  right: 0;
}
.plateBottom2{
  height: 220px;
  width: 15%;
  position: absolute;
  right: 50px;
}
.plateBottom3{
  height: 220px;
  width: 15%;
  position: absolute;
  right: 100px;
}

/*image size*/
.plate{
  height:220px;
  width:220px;
  margin: 0px 5px;
}

/*footer elements*/
.scoreboard{
  width:20%;
  height:120px;
  background-color: #000000;
  display:inline-block;
  float:left;
}
.timer{
  width:20%;
  height:120px;
  background-color: #000000;
  display:inline-block;
  float:left;
}
.logo{
  width:60%;
  height:20%;
  background-color: #ffffff;
  display:inline-block;
  float:left;
}
